.i {
  position: relative;
  animation: entrace 4s forwards;
}
.j {
  position: relative;

  animation: entrace 3.5s forwards;
}
.k {
  position: relative;
  animation: entrace 3s forwards;
}
.l {
  position: relative;
  animation: entrace 2.5s forwards;
}
.m {
  position: relative;
  animation: entrace 2s forwards;
}
.n {
  position: relative;
  animation: entrace 1.5s forwards;
}
.o {
  position: relative;
  animation: entrace 1s forwards;
}
@keyframes entrace {
  0% {
    right: -1500px;
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    right: 0;
  }
}
