body {
  background-color: aliceblue;
  direction: rtl;
  width: 90%;
  margin: auto;
}

p,
label {
  font-family: 'Roboto Mono', monospace;
  font-weight: 900;
  font-size: 1.2rem;
  &.card-text {
    font-size: 1rem;
  }
}
h1 {
  font-family: 'Pattaya';
}
.copyright {
  color: #0f9c9c;
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}
textarea {
  opacity: 0.5;
}
a {
  text-decoration: none;
}
