.logo {
  width: 120px;
  height: 110px;
  border-radius: 50%;
  box-shadow: -5px 5px 115px 5px #5893cc;
}

nav {
  background-color: rgb(235, 225, 225);
}

.info {
  width: 90%;
}

.a {
  position: relative;
  -webkit-animation: header1 4.5s forwards;
          animation: header1 4.5s forwards;
}

.b {
  position: relative;
  -webkit-animation: header1 4s forwards;
          animation: header1 4s forwards;
}

.c {
  position: relative;
  -webkit-animation: header1 3.5s forwards;
          animation: header1 3.5s forwards;
}

.d {
  position: relative;
  -webkit-animation: header1 3s forwards;
          animation: header1 3s forwards;
}

.e {
  position: relative;
  -webkit-animation: header1 2.5s forwards;
          animation: header1 2.5s forwards;
}

.f {
  position: relative;
  -webkit-animation: header1 2s forwards;
          animation: header1 2s forwards;
}

.g {
  position: relative;
  -webkit-animation: header1 1.5s forwards;
          animation: header1 1.5s forwards;
}

.h {
  position: relative;
  -webkit-animation: header1 1s forwards;
          animation: header1 1s forwards;
}

@-webkit-keyframes header1 {
  0% {
    right: -1500px;
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    left: 0;
  }
}

@keyframes header1 {
  0% {
    right: -1500px;
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    left: 0;
  }
}
.footer {
  height: 50px;
  text-align: center;
}

.footer img {
  height: 30px;
  margin-left: 15px;
  margin-bottom: 5px;
}

.footer img:hover {
  height: 50px;
}

.carousel-inner img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  box-shadow: 0px 0px 0px 8px #000000, 0px 0px 0px 12px #4b4c4b, 0px 0px 0px 16px #828482, 0px 0px 0px 20px #b2b5b2, 0px 0px 0px 24px #daddda, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.form {
  background-image: url("../img/write.jpg");
}

html {
  direction: rtl;
}

body {
  background-color: rgb(235, 225, 225);
  width: 90%;
  margin: auto;
}

p,
label {
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  font-size: 1.2rem;
}
p.card-text,
label.card-text {
  font-size: 1rem;
}

h1 {
  font-family: "Pattaya";
}

.copyright {
  color: #0f9c9c;
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}

textarea {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

.bg-shadow {
  box-shadow: 5px 5px 15px 5px #ff8080, -9px 5px 15px 5px #ffe488, -7px -5px 15px 5px #8cff85, 12px -5px 15px 5px #80c7ff, 12px 10px 15px 7px #e488ff, -10px 10px 15px 7px #ff616b, -10px -7px 27px 1px #8e5cff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card {
  background-color: rgb(235, 225, 225);
}

.card-body {
  border: none;
}

.accordion-body {
  background-color: rgb(127, 172, 86);
}

.right {
  position: relative;
  -webkit-animation-name: right;
          animation-name: right;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes right {
  0% {
    right: -1500px;
  }
  100% {
    right: 0;
  }
}

@keyframes right {
  0% {
    right: -1500px;
  }
  100% {
    right: 0;
  }
}
.left {
  position: relative;
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes left {
  0% {
    left: -1500px;
  }
  100% {
    left: 0;
  }
}

@keyframes left {
  0% {
    left: -1500px;
  }
  100% {
    left: 0;
  }
}
.top {
  position: relative;
  -webkit-animation-name: top;
          animation-name: top;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes top {
  0% {
    top: -1500px;
  }
  100% {
    top: 0;
  }
}

@keyframes top {
  0% {
    top: -1500px;
  }
  100% {
    top: 0;
  }
}
.i {
  position: relative;
  -webkit-animation: entrace 4s forwards;
          animation: entrace 4s forwards;
}

.j {
  position: relative;
  -webkit-animation: entrace 3.5s forwards;
          animation: entrace 3.5s forwards;
}

.k {
  position: relative;
  -webkit-animation: entrace 3s forwards;
          animation: entrace 3s forwards;
}

.l {
  position: relative;
  -webkit-animation: entrace 2.5s forwards;
          animation: entrace 2.5s forwards;
}

.m {
  position: relative;
  -webkit-animation: entrace 2s forwards;
          animation: entrace 2s forwards;
}

.n {
  position: relative;
  -webkit-animation: entrace 1.5s forwards;
          animation: entrace 1.5s forwards;
}

.o {
  position: relative;
  -webkit-animation: entrace 1s forwards;
          animation: entrace 1s forwards;
}

@-webkit-keyframes entrace {
  0% {
    right: -1500px;
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    right: 0;
  }
}

@keyframes entrace {
  0% {
    right: -1500px;
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    right: 0;
  }
}/*# sourceMappingURL=main.css.map */